.motto-card {
  display: inline-block;
  width: 80vw;
  height: 50vh;
  padding: 15vh 20px;
  margin: 80px 10vw;
  background-color: rgb(95, 158, 160, 0.8);
  border-radius: 8px;
  box-shadow: 4px 4px 12px black;
}

.motto {
  display: inline-block;
  margin-bottom: 50px;
  font-weight: 400;
}

.quote {
  font-style: italic;
  text-align: right;
  margin-right: 10px;
}

.more-information {
  margin: 50px 10px;
  text-align: left;
  width: 80%;
  float: left;
  background: brown;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgb(30, 30, 30);
}

.information {
  text-align: justify;
  padding-right: 40%;
  margin-bottom: 100px;
}

.information a {
  color: cadetblue;
}

.line {
  border-style: solid;
  border-width: thin;
  margin: 50px 10px;
}

.btn-learn-more {
  border-radius: 5px;
  background-color: #282c34;
  color: white;
  border-width: 0px;
  padding: 4px 14px;
  font-size: 0.9rem;
  box-shadow: 1px 1px 3px black;
}

@media screen and (min-width: 768px) {
  .motto-card {
    width: 50vw;
    height: 50vh;
  }

  .motto {
    font-size: 2.65rem;
  }

  .more-information {
    width: 50%;
  }
  /* .line {
    margin: 0 200px;
  } */
  .questions {
    margin: 40px 0;
  }
}
