@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 16px;
  }
}
.menu-shadow {
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.1s;
}

.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav a.selected {
  color: #f1f1f1;
}

.sidenav .arrow-left {
  position: absolute;
  top: 14px;
  right: 25px;
  font-size: 17px;
  margin-left: 50px;
}

.sidenav .arrow-left:hover {
  color: #818181;
}
