.topnav {
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  width: 50%;
  padding: 10px 10px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0);
  box-shadow: 2px 2px 5px rgb(20, 20, 20);
  overflow: hidden;
  font-size: 17px;
  z-index: 100;
}
.topnav p {
  color: #f2f2f2;
  grid-column: 2 / 3;
  margin: 0;
}
.topnav p:hover {
  color: #818181;
}

.topnav span {
  grid-column: 1 / 3;
  /* padding: 14px 16px; */
}

.topnav .bars:hover {
  color: #818181;
}
@media screen and (min-width: 768px) {
  .topnav {
    width: 20%;
  }
}
