.select-group {
  display: grid;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}

.select-btn {
  margin: 1vw;
  width: auto;
  height: 40px;
  grid-column: auto / auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  background: fixed;
  color: white;
}

.select-btn:hover {
  background: #ddd;
  color: black;
}

.select-btn.selected {
  background: #ddd;
  color: black;
}

.selected-text {
  display: inline-block;
  margin: 20px;
  font-weight: 200;
}
