.app {
  text-align: center;
  color: white;
}
@media screen and (min-width: 768px) {
  .app {
    padding: 0 15vw;
  }
}

.bg-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 200vh;
}

#bg-main {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 200vh;
  width: 100%;
  background-color: #282c34;
}

#bg-square {
  position: absolute;
  top: -40vh;
  left: -10vw;
  width: 150vw;
  height: 60vh;
  background-color: brown;
  transform: rotate(4deg);
  overflow: hidden;
}

#bg-square2 {
  position: absolute;
  top: 80vh;
  left: -15vw;
  width: 150vw;
  height: 30vh;
  background-color: cadetblue;
  transform: rotate(-6deg);
  overflow: hidden;
}

select {
  background-color: rgba(160, 160, 160, 0.1);
  border-radius: 10px;
  padding: 4px 12px;
  color: white;
  border-style: none;
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  .chart-container {
    position: relative;
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
  }
}
